body{
    background-image: url(./img/1564489320_marko-blazevic-gffge2egmim-unsplash.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;}


h1{text-align: center;}


form{background-color: rgb(255, 255, 255);
    border: none;
    width: 400px;
    height: 330px;
    margin: 0 auto;
    padding: 20px}

input, textarea{
    display: block;
    border: none;
    border-bottom: black solid 1px;
    padding: 5px 5px 5px 0;
    width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 1px solid rgb(186, 17, 17); }


button {background-color: black;
color: white;
width: 200px;
padding: 5px;
cursor: pointer;
position: relative;}